// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form {
    display: flex;
    flex-direction: row;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    // padding: 8px 16px;
    align-items: center; 
    border-top: 1px solid #ebebeb;
    margin-top: 4px;
}

.comment-form-line {
    display: flex;
    flex-direction: row;
}

.comment-form-line textarea {
    border: none;
    font-size: 14px;
    /* height: 90%; */
    /* width: 100%; */
    /* height: 57px; */
    width: 492px;
    height: 90%;
    margin-right: 10px;
    /* padding: 10px 0; */
    padding-top: 15px;
    /* padding: 15px 0; */
    box-sizing: border-box;
}

.blur-opacity {
    padding-top: 15px;
    color: #3897f0;
    opacity: .4;
    font-weight: 600;
}

.change-opacity {
    opacity: 1;
    padding-top: 15px;
    color: #3897f0;
    font-weight: 600;
}

.comment-form img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-close {
  position: absolute;
  right: 16px;
//   top: 12px;
  width: 32px;
  height: 18px;
  opacity: .3;
  /* transition: color .3s ease-in-out; */
}
.comment-close:hover {
  opacity: 1;
}
.comment-close:before, .comment-close:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #3897f0;;
  right: 0;
}
.comment-close:before {
  transform: rotate(45deg);
}
.comment-close:after {
  transform: rotate(-45deg);
}

.comment-item-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    position: relative;
}

.comment-item-line a {
    text-decoration: none;
    color: black;
    margin-right: 4px;
}

.view-all-comments {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 5px;
    color: #999;
    cursor: pointer;
}