// Place all the styles related to the api/likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-icon {
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #ebebeb;
}

.like-icon p {
    font-weight: 600;
}

.like-icon img {
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.like-sgs {
    font-weight: normal;
}

.like-sgs-strong {
    font-weight: 600;
}