.post-show-content {
    padding: 50px 20px;
    width: calc(100% - 40px);
    margin: 0 auto 16px;
    max-width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-show-container {
    height: 80vh;
    width: 100vw;
    margin-top: 81px;
    margin-bottom: 60px;
}

.post-show-header img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-show-caption img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-show-img {
    min-width: 600px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ebebeb;
    // background-color: white;
    align-items: center;
}

.post-show-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 600px;
    height: 600px;
    border-radius: 4px 0 0 4px;
}

.post-show-right {
    background-color: white;
    border: 1px solid #ebebeb;
    height: 600px;
    border-radius: 0 4px 4px 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 335px;
    justify-content: flex-start;
}

.post-show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding: 16px;
    box-sizing: border-box;
}

.post-author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.post-author-info a {
    text-decoration: none; 
    color: black;
}

.post-author-info strong {
    font-weight: 600;
    margin-left: 15px;
}

.post-body {
    // padding: 16px;
    /* padding: 16px 12px; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // margin-bottom: 150px;
    justify-content: flex-start;
    height: 100%;
}

.post-show-caption {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    padding: 12px 16px;
    position: relative;
}

.post-show-caption div:first-child {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}

.post-show-caption div:first-child p {
    margin-left: 5px;
}

.post-create-date {
    margin-left: 15px;
    font-weight: 400;
    color: #999;
    line-height: 18px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.post-body a {
    text-decoration: none;
    color: black;
}

.post-body strong {
    font-weight: 600;

}

.created-date-detailed {
    margin-left: 16px;
    font-weight: 400;
    color: #999;
    line-height: 18px;
    font-size: 10px;
    // margin-top: 10px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.post-author-info p {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 2px;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
    // padding-top: 40px;
    font-weight: 600;
    font-size: 12px;
}

.about-links a {
    text-decoration: none;
    margin-right: 10px;
    color: #505393;
}