.post-show-content {
    padding: 50px 20px;
    width: calc(100% - 40px);
    margin: 0 auto 16px;
    max-width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-show-container {
    height: 80vh;
    width: 100vw;
    margin-top: 81px;
    margin-bottom: 50px;
}

.post-show-header-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-show-caption img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-show-img {
    min-width: 550px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ebebeb;
    align-items: center;
    background-color: white;
    object-fit: cover;
}

.post-show-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 550px;
    height: 600px;
    border-radius: 4px 0 0 4px;
}

.post-show-right {
    background-color: white;
    border: 1px solid #ebebeb;
    height: 600px;
    border-radius: 0 4px 4px 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 335px;
    justify-content: flex-start;
}

.post-show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding: 16px;
    box-sizing: border-box;
}

.post-author-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.post-author-info a {
    text-decoration: none; 
    color: black;
}

.post-author-info strong {
    font-weight: 600;
    margin-left: 15px;
}

.post-body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 100%;
}

.post-show-caption {
    display: flex;
    justify-content: flex-start;
    padding: 12px 16px;
    position: relative;
}

.post-show-caption div:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 15px;
}

.post-show-caption div:first-child p {
    margin-left: 5px;
}

.post-create-date {
    margin-left: 15px;
    font-weight: 400;
    color: #999;
    line-height: 18px;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.post-body a {
    text-decoration: none;
    color: black;
}

.post-body strong {
    font-weight: 600;

}

.created-date-detailed {
    margin-left: 16px;
    font-weight: 400;
    color: #999;
    line-height: 18px;
    font-size: 10px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.post-author-info-p {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 2px;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    height: 20px;
    bottom: 0px;
    position: fixed;
    background: #fafafa;
    z-index: 3;
    padding-top: 12px;
}

.about-links a {
    text-decoration: none;
    margin-right: 10px;
    color: #505393;
}

.post-form-details label {
    font-weight: 400;
    color: darkslategray;
    line-height: 18px;
    font-size: 12px;
}

.edit-post-caption textarea {
    height: 40px;
}

.dot-separator {
    width: 20px;
    height: 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    margin-right: -4px;
    line-height: 24px;
    margin: 16px 0;
}

.dot-separator:before {
    position: absolute;
    left: 8px;
    top: 10px;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #CCC;
}

.post-show-follow-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
}

.post-show-follow-bar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-show-follow-bar-div p {
    border: none;
    background-color: white;
    color: #3897f0;
    padding: 0;
    height: 17px;
}

.post-show-goback {
    width: 25px;
}

.post-show-goback:hover {
    cursor: pointer;
}