// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-item-container {
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-top: 60px;
    overflow: hidden;
}

.posts {
    max-width: 935px;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 600px;
    padding-top: 80px;
}

.post-item-header {
    padding: 16px;
    width: 568px;
    height: 28px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.post-item-header-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.post-item-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post-index-item-follow-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-img img {
    max-height: 100%;
    object-fit: cover;
    width: 598px;
    height: 600px;
}

.post-img {
    border: 0 solid #000;
    position: relative;
    height: 600px;
    width: 598px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.post-item-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.post-item-username {
    font-weight: 600;
    color: black;
}

.post-item-location {
    font-size: 12px;
}

.post-item-footer strong {
    font-weight: 600;
}

.caption-more {
    color: #999;
}

.caption-more:hover {
    cursor: pointer;
}

.post-caption p {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}

.loading {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.loading i {
    font-size: 80px; 
    color: #545151; 
}

.post-item-info a {
    text-decoration: none;
}

#ellipsis-img {
    margin-right: 0;
}

#ellipsis-img:hover {
    cursor: pointer;
}

.popup-frame {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -190px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    z-index: 10;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    max-height: calc(100% - 40px);
}

.popup-frame div {
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
}

.popup-frame div:hover {
    cursor: pointer;
    color: #3897f0;
}

#popup-cancel{
    border: none;
}

.post-index-item-follow-bar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.delete-q-main {
    position: fixed;
    top: 30%;
    left: 53%;
    margin-left: -190px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    z-index: 10;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-question {
    border-bottom: 1px solid #dbdbdb;
    width: 89%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
}

.delete-q-answers {
    display: flex;
    flex-direction: row;
}

.delete-cancel {
    padding: 12px;
    width: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #3897f0;
    font-weight: 600;
}

.delete-confirm {
    padding: 12px;
    width: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #3897f0;
}

.delete-confirm:hover {
    cursor: pointer;
}

.delete-devider {
    background-color: #dbdbdb;
    height: 41px;
    margin: 0 0;
}

.delete-cancel:hover {
    cursor: pointer;
}

.loader-delete-btn {
    padding: 12px;
    width: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    color: #1e558b;
}

.rect {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    height: 600px;
    width: 598px;
    background-size: 600px 598px !important;
    // background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%) !important;
    background: linear-gradient(to right, #eeeeee, #dddddd, #eeeeee, #dddddd, #eeeeee) !important;
}

// .Shimmer-shimmer-0-1-1 {
//     background-size: 600px 598px !important;
// }