.profile-edit-container {
    top: 81px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

.profile-edit-main {
    border: 1px solid #dbdbdb;
    margin: 60px auto 0;
    max-width: 700px;
    overflow: hidden;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 50px;
    width: 100%;
    background-color: white;
    height: 70vh;
}

.profile-edit-form aside {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
    width: 20%;
}

.profile-edit-form input {
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    height: 32px;
    padding: 20px 10px;
    width: 80%;
    border: none;
    border:solid 1px #dbdbdb;
    border-radius: 3px;
}

.profile-edit-form textarea {
    box-sizing: border-box;
    color: #262626;
    font-size: 16px;
    width: 80%;
    border: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 20px 10px;
}

.profile-edit-field{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.profile-edit-field div {
    padding-right: 60px;
    width: 80%;
}

.profile-edit-form input:hover {
    border: 1px solid;
}

.profile-edit-form textarea:hover {
    border: 1px solid;
}

textarea, input { outline: none; }

.profile-edit-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-edit-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 60px;
    margin-bottom: 10px;
}

.profile-edit-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-edit-username {
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 5px;
}

.delete-avatar {
    font-size: 13px;
    font-weight: 600;
    color: #3897f0;
}


#delete-user-photo-id {
    position: relative;
}

#delete-avatar-loading-id {
    width: 15px;
    position: absolute;
    top: 40%;
    left: 47%;
}