.each-fade .image-container img {
  width: 240px;
  height: 425px;
}

.splash-page {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation {
  display: flex;
  flex-direction: row;
}

.fade-background {
  position: relative;
  margin: auto;
  margin-right: 20px;
  width: 393px;
  height: 605px;
  background-image: url("/images/splash-phone.png");
}

.fade-div-wrapper {
  position: absolute;
  width: 243px;
  height: 427px;
  top: 92px;
  left: 122px;
}
.react-slideshow-fade-images-wrap {
  width: 243px;
  height: 427px;
}

.nav {
  display: none !important;
}

.indicators {
  display: none !important;
}

