// .slide-container {
//   width: 70%;
//   margin: auto; 
// }

// .fade-div-wrapper {
//   background: image-url("images/splash-phone.png");
// }

// .each-fade {
//   display: flex;
// }

// .each-fade .image-container {
//   width: 75%;
//   overflow: hidden;
// }

.each-fade .image-container img {
  // width: 100%;
  width: 240px;
  height: 425px;
  // left: 122px;
  // top: 107px;
}

.splash-page {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation {
  display: flex;
  flex-direction: row;
}

.fade-background {
  position: relative;
  margin: auto;
  margin-right: 20px;
  width: 393px;
  height: 605px;
  background-image: url("/images/splash-phone.png");
}

.fade-div-wrapper {
  position: absolute;
  width: 243px;
  height: 427px;
  top: 92px;
  left: 122px;
}
.react-slideshow-fade-images-wrap {
  width: 243px;
  height: 427px;
}

.nav {
  display: none !important;
}

.indicators {
  display: none !important;
}

// .cover {
//   position: absolute;
//   width: 240px;
//   height: 425px;
//   left: 122px;
//   top: 107px;
//   z-index: 2;
// }

// .cover {
//     position: absolute;
//     width: 240px;
//     height: 425px;
//     left: 122px;
//     top: 107px;
//     animation-name: fade;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
//     animation-duration: 20s;
//     animation-direction: alternate;
// }

// #delay-1 {
//     animation-delay: 10s;
// }

// #delay-2 {
//     animation-delay: 6s;
// }

// #delay-3 {
//     animation-delay: 4s;
// }

// #delay-4 {
//     animation-delay: 2s;
// }

// #finish{
//     animation-delay: 0s;
// }

// // .phone-background {
// //     position: absolute;
// // }

// @keyframes fade {
//     0% {
//     opacity:1;
//   }
//   17% {
//     opacity:0;
//   }
//   25% {
//     opacity:0;
//   }
//   92% {
//     opacity:0;
//   }
//   100% {
//     opacity:1;
//   }
// }

