// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
    box-sizing: content-box;
    padding: 80px 20px 0;
    width: calc(100% - 40px);
    margin: 0 auto 30px;
    max-width: 935px;
}

.profile-header-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;
    margin-top: 60px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 30px;
    border: 1px solid #dbdbdb;
}

.profile-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 40%;
    box-sizing: border-box;
    min-width: 800px;
}

.profile-post-item {
    width: 30.9%;
    height: 0px;
    padding-bottom: 30.9%;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    margin: 10px;
    border: 1px solid #dbdbdb;
}

.profile-post-item:hover {
    cursor: pointer;
}

.profile-posts img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.user-main {
    margin: 20px 50px;
    width: 40%;
    font-size: 16px;
}

.user-main-div {
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.profile-username {
    font-size: 28px;
    font-weight: 200;
    margin-right: 20px;
}

.user-main strong {
    font-weight: 600;
}

.profile-posts-icon {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dbdbdb;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.posts-layout-icon {
    width: 12px;
    height: 12px;
}

.profile-posts-icon p {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.posts-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    height: 100%;
}

.post-likes {
    position: absolute;
    bottom: 0;
    padding: 0;
    text-align: left;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.5);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45%;
}

.icons img {
    width: 20px;
    height: 20px;
}

.icons p {
    color: white;
    font-size: 14px;
    margin-left: 50px;
}

.profile-like-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.profile-comment-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.profile-menu {
    display: flex;
    flex-direction: row;
}

.profile-menu p {
    margin-right: 40px;
}

.profile-bio p {
    line-height: 24px;
}

.profile-bio a {
    text-decoration: none;
    color: #003569;
}

.user-photo {
    position: relative;
}

#avatar-upload-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 70%;
    left: 69%;
    border-radius: 50%;
    border: 3px solid #fafafa;
    z-index: 1;
    background-color: #fafafa;
}

#avatar-upload-icon:hover {
    cursor: pointer;
}

.no-posts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-post-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.no-post-h3 {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}

.no-post-p {
    font-weight: 500;
    color: #6d6a6a;
}

#user-photo-id {
    position: relative;
}

#avatar-loading-id {
    width: 25px;
    position: absolute;
    top: 40%;
    left: 47%;
}